.chat-main
  .chat-main__header
    .chat-main__header-left-box
      %h2.chat-main__header-left-box__current-group
        = @group.name
      %ul.chat-main__header-left-box__member-list
        Member : 
        %li.chat-main__header-left-box__member-list__member
          - @group.users.each do |user|
            = user.name
            .member
              = link_to root_path(user) do
                .header_name

    .chat-main__header__edit-btn
      = link_to edit_group_path(@group)do
        Edit

  .chat-main__chats

    .messages 
      = render @messages


  .chat-main__chat-forms
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image', class: 'icon')
        = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
 